<%- include('partials/head') %> <%- include('partials/nav') %>
<main class="bg-primary">
	<div class="preloader bg-dark flex-column justify-content-center align-items-center">
		<svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 64 78.4">
			<path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z" />
			<rect fill="none" stroke="#fff" stroke-width="11.2" x="40" y="17.6" width="0" height="25.6" />
			<rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="23" y="35.2" width="0" height="25.6" />
			<path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z" />
			<rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="52.8" width="0" height="25.6" />
			<path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z" />
			<rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="57.8" y="17.6" width="0" height="11.2" />
			<rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="35.2" width="0" height="11.2" />
			<rect fill="none" stroke="#fff" stroke-width="11.2" x="40.2" y="49.6" width="0" height="11.2" />
			<path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z" />
			<rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="28.8" x="31.6" width="0" height="11.2" />
			<rect fill="none" stroke="#fff" x="14" stroke-width="28.8" y="17.6" width="0" height="11.2" />
		</svg>
	</div>
	<div class="pt-5 pt-md-7 bg-gray-200">
		<div class="mx-3" style="margin: 0%; padding: 0">
			<div class="row mt-4">
				<div class="col-md-2"><%- include('partials/admin-sidebar') %></div>
				<div class="col-md-10">
					<div class="card mb-5">
						<div class="card-body">
							<h4 class="card-title">Edit Team Member</h4>
							<p class="card-description">Update the details of the team member.</p>
							<form action="/admin/team-members/edit-member/<%= member._id %>" method="POST" enctype="multipart/form-data">
								<div class="row">
									<div class="col-md-6 mb-3">
										<div class="mb-3">
											<label for="name">Name</label>
											<input class="form-control" id="name" name="name" type="text" placeholder="Enter Member Name" value="<%= member.name %>" required />
										</div>
									</div>
									<div class="col-md-6 mb-3">
										<div class="mb-3">
											<label for="role">Role Name</label>
											<input class="form-control" id="role" name="role" type="text" placeholder="Enter Role Name" value="<%= member.role %>" required />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 mb-3">
										<div class="mb-3">
											<label for="bio">Bio</label>
											<textarea class="form-control" id="bio" name="bio" type="text" placeholder="Enter Bio" required><%= member.bio %></textarea>
										</div>
									</div>
									<div class="col-md-6 mb-3">
										<div class="mb-3">
											<label for="img">Image</label>
											<input class="form-control" id="img" name="img" type="file" />
											<small>Leave blank to keep current image</small>
										</div>
									</div>
								</div>
								<div class="mt-2">
									<button type="submit" class="btn text-center btn-primary">Update</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<%- include('partials/footer') %> <%- include('partials/end') %>
